/* set grid gutter here. */
$gridGutter: 5px;
$gridPadding: 10px;
$secPadding: 60px 30px;
$vertPadding: 80px 0px 80px 0px;
$wrapPadding: 140px 20px;
$skinnyPadding: 40px 30px;

/* set common inner width here */
$largeWidth: 1700px;
$maxWidth: 1350px;
$innerWidth: 750px;
$blogWidth: 950px;
$flexMin: 350px;

$offWhite: #f6f6f6;
$yellow: #ffe264;
$blue: #75e5ff;
$green: #2bf790;
$cobalt: #0112d4;
$eggplant: #342256;
$black: #111111;
$darkCobalt: #081182;
