.pre-nav {
  .pre-wrap {
    padding: 0px;
  }
}

.fixed-nav {
  .left {
    top: 38px;
  }
  .right {
    right: 67px;
    top: 38px;
  }
}

/**************************
***************************
     team
***************************
**************************/
.head-wrap {
  height: 250px;
}
.team-wrap {
  margin-top: -200px;
  .current-bio-member {
    .bio-c {
      @include space-start();
      .current-headshot {
        width: 50%;
        margin-bottom: 50px;
        max-width: none;
      }
      .current-member-title {
        padding: 30px;
        display: table;
        max-width: 520px;
        margin: 0px 0px 0px -20%;
      }
    }
    .bio {
      @include blogwrap();
      margin-top: 80px;
    }
  }
}

/**************************
***************************
     footer
***************************
**************************/
.footer {
  .foot-flex {
    flex-wrap: nowrap;
    .newsletter {
      flex-grow: 1;
      .mc-form {
        display: flex;
        align-items: baseline;
      }
    }
    .foot-logo {
      order: 2;
      flex-grow: 1;
    }
    .foot-butt {
      order: 3;
      flex-grow: 1;
    }
  }
}
