.services-sec {
  .service-flex {
    .service-desc {
      width: 30%;
      margin: 30px 1.5%;
    }
    .service-block {
      width: 30%;
      margin: 30px 1.5%;
      padding: 10px 30px 20px 30px;
    }
  }
}

/**************************
***************************
         post grid
***************************
**************************/
.post-flex {
  .simple-post {
    width: 30%;
    margin: 5% 1.5%;
    height: 450px;
  }
}
