h1 {
  font-family: "Podkova", serif;
  font-weight: 700;
  color: $eggplant;
  text-transform: lowercase;
  font-size: 2.5em;
  margin: 0px 0px 10px 0px;
}
h2 {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  color: $cobalt;
  font-size: 1.4em !important;
  margin: 0;
}
h4 {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $cobalt;
  margin: 0;
}
p,
body {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  height: auto;
}

.about-block {
  padding: 40px;
  margin: -40px auto;
  z-index: 20;
}

.banner-overlay {
  position: absolute;
  z-index: 100;
  top: 140px;
  right: 60px;
  padding: 0;
}

.home-hero {
  height: 70vh;
  .hero-content {
    height: 70vh;
    .content-container {
      .hero-flex {
        @include space-between();
        align-items: flex-end;
        position: absolute;
        width: 100%;
        bottom: 90px;
        .slogan {
          width: 50%;
          max-width: 600px;
          margin: 0px;
        }
        .main-button {
          padding: 20px 30px 13px 30px;
          margin: 0px 0px 30px 0px;
        }
      }
    }
  }
}

.pre-nav {
  position: fixed;
  display: block;
  top: 0;
  z-index: 999;
  width: 100%;
  .pre-wrap {
    width: 90%;
    margin: auto;
    @include space-end();
    padding: 15px 40px 0px 0px;
    .link {
      padding: 10px 0px 0px 0px;
      border-bottom: 4px solid $green;
      width: fit-content;
      @include space-end();
      a {
        color: $green;
        margin: 0px 10px;
        font-weight: 900;
        font-size: 0.8em;
        i {
          color: $green;
          font-size: 0.8em;
        }
        &:hover {
          color: white;
          @include transition(0.5s);
          i {
            color: white;
            @include transition(0.5s);
          }
        }
      }
    }
  }
}

.services-sec {
  .service-flex {
    @include space-between;
    .service-desc {
      width: 47%;
      margin: 30px 1.5%;
    }
    .service-block {
      width: 47%;
      margin: 30px 1.5%;
      padding: 10px 30px 20px 30px;
      position: relative;
      @include transition(0.5s);
      min-height: 310px;
      h2 {
        text-align: center;
        border-bottom: 4px solid $cobalt;
        padding: 20px 0px 5px 0px;
        position: relative;
      }
      img {
        width: 100%;
        max-width: 150px;
        margin: auto;
        display: block;
        opacity: 1;
        visibility: visible;
      }
      .more-info {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s linear;
        @include transition(0.5s);
        position: relative;
        top: 100px;
        height: 0px;
        overflow: hidden;
        margin: 20px 0px 0px 0px;
        ul {
          margin-bottom: 0px;
          li {
            list-style-type: disc !important;
            margin: 0px 0px 5px 0px;
          }
        }
      }
      .more-button {
        display: block;
        position: relative;
        padding: 10px 0px 0px 0px;
        h4 {
          text-align: center;
          margin: 0px;
          &:after {
            font-family: "Font Awesome 5 Pro";
            content: "\f102";
            margin-left: 10px;
            font-size: 0.7em;
          }
          &:before {
            font-family: "Font Awesome 5 Pro";
            content: "\f102";
            margin-right: 10px;
            font-size: 0.7em;
          }
        }
        h4 {
          &:hover {
            color: $eggplant;
            @include transition(0.5s);
          }
        }
      }
      &:hover {
        background-color: white;
        @include transition(0.5s);
        @include box-shadow();
        h2 {
          top: 0;
        }
        .more-info {
          opacity: 1;
          visibility: visible;
          top: 0px;
          height: inherit;
        }
        .more-button {
          h4 {
            margin-top: 10px !important;
            &:after {
              content: "\f101";
            }
            &:before {
              content: "";
            }
          }
        }
        img {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }
}
/**************************
***************************
         reviews
***************************
**************************/
//
// .reviews {
//   .review-block {
//     .review-flex {
//       .left {
//         width: 30%;
//         @include flexbox();
//         justify-content: flex-end;
//         flex-wrap: wrap;
//         h4 {
//           text-align: right !important;
//         }
//         .quote-cont {
//           width: 110px;
//           margin: 0px 0px 5px 0px;
//         }
//         .quote-headshot {
//           display: block;
//           margin-bottom: 20px;
//           width: 200px;
//           height: 200px;
//           background-position: center;
//           background-repeat: no-repeat;
//           background-size: cover;
//         }
//       }
//       .right {
//         width: 70%;
//         padding-top: 60px;
//       }
//     }
//   }
// }

.about-logo {
  .logo-wrap {
    padding-bottom: 30px;
    img {
      height: auto;
    }
  }
}

/**************************
***************************
     team
***************************
**************************/
.head-wrap {
  height: 200px;
}
.team-wrap {
  margin-top: -150px;
  .team-member {
    max-width: none;
    img {
      margin-bottom: 20px;
    }
  }
  .current-bio-member {
    .bio {
      @include blogwrap();
      margin-top: 60px;
    }
  }
}

/**************************
***************************
         blog feature
***************************
**************************/
.home-blog-feat {
  @include space-between();
  margin: 60px 0px;
  .feat-img {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }
  .title-box {
    width: 400px;
    max-width: none;
    margin: 50px 0 0 -500px;
    padding: 20px;
    h1 {
      margin: 0 0 10px 0;
    }
  }
  .post-preview {
    width: 40%;
    padding: 50px 30px 50px 0px;
  }
}

/**************************
***************************
         blog hero
***************************
**************************/
.research-hero {
  .res-image {
    .date {
      display: block;
    }
    .res-title {
      display: block;
    }
  }
}

.hero-info {
  .blog-box {
    margin: 50px 50px 0px 50px;
    max-width: 450px;
    .top-box {
      padding: 20px 30px;
    }
  }
}

.wp-block-pullquote {
  blockquote {
    padding: 30px;
    p {
      font-size: 2em;
    }
  }
}

.related-post {
  .div-wrap {
    h1 {
      margin-left: 30px;
    }
  }
}
/**************************
***************************
         blog post
***************************
**************************/

.post-wrap {
  .secondary-blog-post {
    width: 48%;
    min-height: 560px;
    margin: 1%;
    .top-box {
      padding: 20px 30px;
    }
  }
}
/**************************
***************************
     footer
***************************
**************************/
.footer {
  .foot-flex {
    align-items: flex-end;
    .newsletter {
      width: inherit;
      margin: 0px;
      padding-bottom: 0px;
      border-bottom: none;

      .mc-form {
        width: auto;
        input {
          width: auto;
        }
        button {
          margin-top: 10px;
        }
      }
    }
    .foot-logo {
      margin-top: 30px;
    }
    .foot-butt {
      width: inherit;
      .main-button {
        width: 240px;
      }
    }
  }
}

/**************************
***************************
         post grid
***************************
**************************/
.post-flex {
  .simple-post {
    width: 47%;
    margin: 5% 1.5%;
    height: 400px;
    .top-box {
      padding: 20px 30px;
    }
  }
}
/**************************
***************************
     contact
***************************
**************************/
.contact-wrap {
  padding: 60px 0px 40px 0px;
  .contact-flex {
    padding: 0px;
    .contact-info {
      width: 50%;
      margin: 0;
      padding: 0px 30px;
    }
    .c-form {
      width: 50%;
      padding: 0px 30px;
    }
  }
}

.contact-info-block {
  @include wrapper();
  width: 100%;
  max-width: 800px;
  .park-flex {
    .park {
      width: 33%;
      padding: 15px;
    }
  }
}
/**************************
***************************
         single hero
***************************
**************************/
.single-hero {
  margin: 0px auto 200px;
  .single-info {
    .arrow {
      width: 150px;
      bottom: -250px;
      right: 300px;
    }
    .date {
      display: block;
    }
    .title-box {
      padding: 20px 30px;
      @include box-shadow;
      height: fit-content;
      position: absolute;
      bottom: -50px;
      right: 50px;
      left: auto;
      max-width: 400px;
    }
    .bottom-box {
      padding: 30px;
    }
  }
  .res-title {
    position: absolute;
    bottom: -140px;
    width: fit-content;
    margin-left: 30px;
  }
}
