/**************************
***************************
         sitewide
***************************
**************************/

.icon-image img {
  max-height: 70px;
}

html {
  scroll-behavior: smooth;
}
h1 {
  font-family: "Podkova", serif;
  font-weight: 700;
  color: $eggplant;
  text-transform: lowercase;
  font-size: 1.8em;
  margin: 0px 0px 10px 0px;
}
h2 {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  color: $cobalt;
  text-transform: lowercase;
  font-size: 1.1em !important;
  margin: 0;
}
h4 {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $cobalt;
  margin: 0;
}
p,
body {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
  height: auto;
}

body {
  background-color: white !important;
  margin-top: 90px;
  overflow-x: hidden;
  p {
    a {
      font-weight: 900;
      color: $cobalt;
      &:hover {
        @include transition(0.5s);
        text-decoration: underline;
      }
    }
  }
}

::selection {
  color: white;
  background-color: $cobalt;
}

.divider {
  width: 100%;
  height: 10px;
  transform: skew(30deg);
  max-width: $maxWidth;
  margin: auto;
}
.home-divider {
  position: absolute;
  bottom: 80px;
  background-color: $green;
  width: 100%;
  height: 10px;
  transform: skew(30deg);
}
.green-back {
  background-color: $green;
}
.blue-back {
  background-color: $blue;
}
.yellow-back {
  background-color: $yellow;
}

.opener {
  border-left: 5px solid $yellow;
  padding-left: 20px;
}
.indent {
  margin-left: 80px !important;
}
/**************************

***************************
         nav
***************************
**************************/

//youtube fix

.wp-block-embed__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.mmac-logo {
  flex-grow: 1;
  text-align: center;
  padding: 0 30px;
  img {
    width: 150px;
  }
}
.burger {
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.5em;
}

.fixed-nav {
  width: 100%;
  height: 90px;
  background-color: $cobalt;
  display: block;
  position: fixed;
  top:0;
  left: 0;
  z-index: 900;
  .left {
    top: 38px;
    position: fixed;
    width: 100%;
  }
  .right {
    right: 0px;
    top: 0px;
    position: fixed;
  }
}
.pre-nav {
  display: none;
}
.nav {
  position: fixed;
  top: 0;
  padding-top: 37px;
  z-index: 900 !important;
  @include box-shadow();
}
.navlogo {
  margin-top: -24px;
  min-width: 230px;
}
.top-link {
  padding: 17px 0px 3px 20px !important;
  font-size: 0.9em;
  &:hover {
    @include transition(0.5s);
    color: $green !important;
  }
}

/**************************
***************************
         homepage
***************************
**************************/

.about-block {
  background-color: white;
  @include box-shadow();
  padding: 20px;
  width: 90%;
  max-width: 800px;
  margin: -40px 5%;
  z-index: 20;
  position: relative;
  text-align: center;
  .about-copy {
    margin-bottom: 20px;
  }
}
.about-logo {
  background-color: $blue;
  padding-top: 60px;
  .logo-wrap {
    padding-top: 20px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    img {
      height: 60px;
      margin-bottom: 15px;
    }
    h4 {
      text-align: center;
      margin-bottom: 20px;
    }
    .icon-image {
      margin: auto;
    }
  }
}
.small-button {
  border: 2px solid $cobalt;
  padding: 10px 15px 5px 15px;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $cobalt;
  font-weight: 900;
  margin: auto;
  display: table;
  i {
    font-size: 12px;
  }
  &:hover {
    background-color: $cobalt;
    color: white;
    @include transition(0.5s);
  }
}
.yellow-button {
  border: 2px solid $yellow !important;
  color: $yellow !important;
  &:hover {
    background-color: $yellow !important;

    color: $eggplant !important;
    @include transition(0.5s);
  }
}
/**************************
***************************
         blog feature
***************************
**************************/
.home-blog-feat {
  margin: 40px 0;
  @include space-end();
  .feat-img {
    width: 90%;
    margin-right: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
  }
  .title-box {
    width: 80%;
    max-width: 300px;
    margin: -100px 0 0 30px;
    background-color: $yellow;
    padding: 15px 20px;
    display: table;
    text-align: right;
    h1 {
      margin: 0 0 10px 0;
    }
  }
  .post-preview {
    width: 100%;
    padding: 30px 30px 10px 30px;
  }
}

/**************************
***************************
         blog hero
***************************
**************************/
.research-hero {
  max-width: 1440px;
  margin: 0px auto 60px;
  position: absolute;
  display: table;
  .res-image {
    height: 50vh;
    position: absolute;
    z-index: 10;
    min-height: 300px;
    .date {
      display: none;
      position: absolute;
      bottom: 30px;
      left: 30px;
      width: fit-content;
      padding: 10px 20px 1px 20px;
      border: 2px solid $yellow;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 3px;
      color: $yellow;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .res-title {
      display: none;
      position: absolute;
      bottom: -140px;
      width: fit-content;
      margin-left: 30px;
    }
  }
}

.hero-info {
  position: relative;
  @include space-end();
  width: 100%;
  max-width: 1440px;
  margin: auto;

  top: 0;
  z-index: 20;
  .blog-box {
    background-color: white;
    @include box-shadow;
    width: 90%;
    margin: 150px 10% 0 10%;
    .top-box {
      background-color: $yellow;
      padding: 15px 20px;
    }
    .bottom-box {
      padding: 30px;
    }
  }
}

/**************************
***************************
         single hero
***************************
**************************/
.single-hero {
  max-width: 1440px;
  margin: 0px auto 120px;
  position: absolute;
  .single-info {
    position: absolute;
    height: 50vh;
    min-height: 250px;
    width: 100%;
    .arrow {
      fill: $yellow;
      width: 120px;
      position: absolute;
      bottom: -210px;
      right: 30px;
      z-index: 0;
    }
    .date {
      display: none;
      position: absolute;
      bottom: 30px;
      left: 30px;
      width: fit-content;
      padding: 10px 20px 1px 20px;
      border: 2px solid $yellow;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 3px;
      color: $yellow;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .title-box {
      background-color: $yellow;
      padding: 15px 20px;
      @include box-shadow;
      height: fit-content;
      position: absolute;
      width: 90%;
      left: 5%;
      bottom: -50px;
    }
    .bottom-box {
      padding: 30px;
    }
  }
  .res-title {
    position: absolute;
    bottom: -140px;
    width: fit-content;
    margin-left: 30px;
  }
}

.post-wrap {
  @include space-between();
  align-items: stretch;
  @include wrapper();
  .secondary-blog-post {
    width: 100%;
    margin: 15px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    min-height: 400px;
    position: relative;
    @include transition(0.5s);
    overflow: hidden;
    @include space-end;
    flex-wrap: wrap;
    align-content: flex-end;

    .top-box {
      background-color: $yellow;
      padding: 15px 20px;
      margin: 5%;
      @include box-shadow;
      height: fit-content;
      width: 90%;
      @include transition(0.5s);
    }
    .bottom-box {
      color: black;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s, opacity 0.5s linear;
      height: 0px;
      overflow: hidden;
      margin: 0px 5%;
      padding: 0px 30px;
    }
    &:hover {
      background-blend-mode: multiply;
      background-color: #5b428a;
      .top-box {
        margin: 5% 5% 0 5%;
      }
      .bottom-box {
        background-color: white;
        @include box-shadow;
        width: 90%;
        padding: 30px;
        opacity: 1;
        margin: 0px 5% 5% 5%;
        visibility: visible;
        height: fit-content;
        @include transition(0.5s);
      }
    }
  }
}

.intro-ascend .home-video {
  padding-top: 60px;
  padding-bottom: 110px;
}

/**************************
***************************
         post grid
***************************
**************************/
.related-post {
  .div-wrap {
    padding: 0px 30px 0px 30px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    .divider {
      margin-bottom: 30px;
    }
  }
}
.post-flex {
  @include space-start();
  @include wrapper();
  padding: 0px 30px 60px 30px !important;
  @include transition(0.5s);
  .simple-post {
    width: 100%;
    margin: 30px 0px;
    position: relative;
    height: 350px;
    padding: 30px 0px 0px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .top-box {
      position: absolute;
      width: 90%;
      bottom: -10%;
      background-color: $yellow;
      margin: 5% 5% 0% 5%;
      padding: 15px 20px;
      @include transition(0.5s);
      z-index: 20;
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.1em;
      }
    }
    .small-button {
      opacity: 0;
      visibility: hidden;
      z-index: 20;
      position: relative;
      transition: visibility 0s, opacity 0.5s linear;
    }
    &:hover {
      background-blend-mode: multiply;
      background-color: #5b428a;
      .small-button {
        opacity: 1;
        visibility: visible;
      }
      .top-box {
        margin: 5%;
        bottom: 0;
      }
    }
  }
}

/**************************
***************************
         post content
***************************
**************************/

.res-cont {
  padding: 0px 30px 40px 30px !important;
  @include blogwrap();
  .wp-block-pullquote {
    background-image: url(./assets/quote-yellow.png);
  }
}
.a-cont {
  .wp-block-pullquote {
    background-image: url(./assets/quote-blue.png);
  }
}
.s-cont {
  .wp-block-pullquote {
    background-image: url(./assets/quote-green.png);
  }
}
.content {
  position: relative;
  z-index: 20;
  .has-2-columns {
    @include space-between();
    .wp-block-column {
      width: 48%;
    }
  }
  .wp-block-pullquote {
    background-size: auto;
    background-repeat: no-repeat;
    margin: 30px 0px;
    min-height: 140px;
    @include space-center();
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    blockquote {
      background-color: transparent;
      border: none;
      padding: 0px;
      p {
        font-family: "Tajawal", sans-serif;
        font-weight: 800;
        color: $cobalt;
        font-size: 1.4em;
        margin: 0;
        line-height: 1.2em;
      }
    }
  }
  .wp-block-button {
    border: 2px solid $cobalt;
    padding: 10px 25px 5px 25px;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $cobalt;
    font-weight: 900;
    margin: auto;
    display: block;
    width: fit-content;
    a {
      font-weight: 900;
      color: $cobalt;
    }
    &:hover {
      background-color: $cobalt;
      color: white;
      @include transition(0.5s);
      a {
        color: white;
      }
    }
  }
}

/**************************
***************************
         about page
***************************
**************************/

.bio-top {
  position: relative;
  top: 100px;
}

.hero {
  z-index: 0;
}
.about-header,
.service-header {
  max-width: 1440px;
  margin: auto;
}
.about-content {
  @include blogwrap();
  z-index: 200;
  @include space-end();
  margin-bottom: 40px;
  .page-title {
    position: relative;
    right: 0;
    width: fit-content;
    text-align: right;
    padding: 10px;
  }
  .content {
    width: 100%;
    margin-top: 30px;
    h2 {
      color: $cobalt !important;
    }
  }
}

/**************************
***************************
           team
***************************
**************************/
.head-wrap {
  width: 100%;
  background-color: $blue;
  height: 200px;
  .team-header {
    @include wrapper();
    padding: 30px !important;
  }
}
.team-wrap {
  @include wrapper();
  margin-top: -150px;
  .team-member {
    max-width: 200px;
    margin: auto;
    img {
      @include box-shadow();
      margin-bottom: -10px;
    }
    h4 {
      display: none;
    }
  }
  .current-bio-member {
    margin-top: 60px;
    .bio-c {
      align-items: flex-end;
      .current-headshot {
        width: 100%;
        max-width: 400px;
        margin: 0px auto;
        img {
          @include box-shadow();
          width: 100%;
        }
      }
      .current-member-title {
        background-color: $blue;
        padding: 20px 20px 10px 20px;
        width: 90%;
        max-width: 350px;
        margin: -100px auto 0px auto;
        position: relative;
        z-index: 20;
        h1 {
          text-transform: none !important;
        }
        a {
          color: black;
          p {
            font-weight: 900;
            margin: 0;
          }
        }
      }
    }
    .bio {
      margin-top: 40px;
    }
  }
}
/**************************
***************************
     services sec
***************************
**************************/

.services-sec {
  background-color: $offWhite;
  .service-flex {
    @include space-center;
    @include wrapper();
    @include transition(0.5s);
    align-items: stretch !important;
    .service-desc {
      width: 100%;
      p {
        margin: 0px;
      }
    }
    .service-block {
      width: 47%;
      margin: 10px 1.5%;
      padding: 10px;
      position: relative;
      @include transition(0.5s);
      min-width: 150px;
      h2 {
        text-align: center;
        border-bottom: 4px solid $cobalt;
        padding: 5px 0px 5px 0px;
        position: relative;
      }
      img {
        width: 100%;
        max-width: 80px;
        margin: auto;
        display: block;
        opacity: 1;
        visibility: visible;
      }
      .more-info {
        display: none;
      }
      .more-button {
        display: none;
      }
    }
  }
}

.post-nav {
  .button-container {
    @include blogwrap();
    @include space-between();
    margin-top: 60px;
    .b-bef {
      margin: 0;
      &:before {
        font-family: "Font Awesome 5 Pro";
        content: "\f323";
        margin-right: 10px;
        font-size: 0.8em;
        color: $cobalt;
      }
      &:hover {
        &:before {
          color: white;
        }
      }
    }
    .b-af {
      margin: 0;
      &:after {
        font-family: "Font Awesome 5 Pro";
        content: "\f324";
        margin-left: 10px;
        font-size: 0.8em;
        color: $cobalt;
      }
      &:hover {
        &:before {
          color: white;
        }
      }
    }
  }
}
.service-content {
  @include blogwrap();
  z-index: 200;
  @include space-end();
  position: relative;
  .service-icon {
    position: absolute;
    width: 150px;
    z-index: 20;
    left: 30px;
    top: -130px;
  }
  .page-title {
    position: relative;
    right: 0;
    width: fit-content;
    text-align: right;
    padding: 10px;
  }
  .content {
    width: 100%;
    margin-top: 30px;
    h2 {
      color: $cobalt !important;
    }
  }
}
.service-bottom {
  @include wrapper();
  .service-bullets {
    background-color: $offWhite;
    @include box-shadow();
    padding: 30px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    h2 {
      margin-bottom: 20px;
    }
    ul {
      margin: 0 0 0 1.45rem;
      li {
        list-style-type: disc;
        font-weight: 800;
        font-size: 1.2em;
        margin: 0;
      }
    }
  }
  .divider {
    margin: 60px 0px;
  }
}

/**************************
***************************
         reviews
***************************
**************************/
.service-reviews {
  .reviews {
    background: none !important;
  }
}
.reviews {
  background: linear-gradient(to top, $blue 50%, #fff 50%);
  padding: $secPadding;
  .review-block {
    background-color: white;
    margin: auto;
    @include box-shadow();
    width: 100%;
    max-width: 800px;
    padding: 30px;
    position: relative;
    .review-flex {
      @include space-between;
      text-align: center;
      padding: 0 20px;
      .left {
        width: 100%;
        .name {
          width: 100%;
          h4 {
            text-align: center;
            width: 100%;
          }
        }
        .quote-cont {
          fill: $blue;
          width: 80px;
          margin: 0px auto 10px auto;
        }
        .quote-headshot {
          display: none;
        }
      }
      .right {
        width: 100%;
        padding-top: 10px;
      }
    }
    .dot-container {
      display: flex;
      justify-content: center;
      position: relative;
    }
    .dot {
      cursor: pointer;
      background: $offWhite;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
      &:last-child {
        margin-right: 0px !important;
      }
    }
    .active {
      background: $blue;
    }
    .arrow-container {
      position: absolute;
      @include space-between;
      width: 100%;
      top: 50%;
      margin-left: -35px;
      .fas {
        color: $cobalt;
      }
      .fa-chevron-double-left {
        margin-left: 20px;
      }
      .fa-chevron-double-right {
        margin-right: 10px;
      }
    }
  }
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
  position: absolute;
}
.fade-exit-active {
  opacity: 0.01;
}
/**************************
***************************
     contact
***************************
**************************/
.contact-page {
  min-height: 80vh;
}
.contact-wrap {
  background-image: linear-gradient($darkCobalt, $cobalt);
  padding: 20px 0px 0px 0px;
  .contact-flex {
    @include space-center();
    @include wrapper();
    max-width: 1000px;
    padding: 20px 30px 0px 30px;
    .contact-info {
      width: 100%;
      max-width: 500px;
      margin: auto;
      .page-title {
        margin-bottom: 20px;
      }
      i {
        font-size: 0.8em;
        margin-right: 15px;
      }
      h1 {
        color: $green !important;
      }
      .content {
        color: white;
        padding: 0px !important;
        a {
          color: white;
          &:hover {
            @include transition(0.5s);
            color: $green;
          }
        }
      }
    }
    .c-form {
      width: 100%;
      margin-top: 30px;
      max-width: 500px;
      margin: auto;
      iframe {
        height: 460px !important;
        width: 100% !important;
      }
    }
  }
}
.contact-info-block {
  background-color: white;
  width: 90%;
  @include box-shadow();
  max-width: 800px;
  padding: 30px;
  margin: 0 5%;
  h2 {
    margin-bottom: 10px;
  }
  p {
    margin: 0px;
  }
  .park-flex {
    @include space-center();
    margin-top: 20px;
    .park {
      width: 100%;
      padding: 15px;
      a {
        color: $cobalt;
        font-size: 0.8em;
        text-decoration: none;
        line-height: 1em;
      }
      p {
        margin: 0px;
        font-size: 1em;
        line-height: 1.2em;
        i {
          font-size: 0.8em;
          margin: 10px 0px 0px 0px;
          line-height: 1em;
        }
      }
    }
  }
}

//user upload
.home-video {
  background: linear-gradient(to top, $offWhite 50%, $blue 50%);
  width: 100%;
  height: 100%;
  padding: 0 10%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  height: auto;
  @include box-shadow();
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**************************
***************************
     footer
***************************
**************************/
.footer {
  background-color: $cobalt;
  padding: 30px;
  .foot-logo {
    margin-top: 20px;
    img {
      width: 100%;
      max-width: 120px;
      margin: auto;
      display: block;
    }
    p {
      margin: 0;
      text-align: center;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 900;
      font-size: 0.8em;
      padding-top: 10px;
    }
  }
  .foot-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .newsletter {
      order: 1;
      margin: 0px auto 10px auto;
      padding-bottom: 20px;
      border-bottom: 5px solid $darkCobalt;
      h2 {
        color: white !important;
      }
      .mc-form {
        margin: 10px 0px 10px 0px;
        width: 220px;
        input {
          background-color: transparent;
          border: 3px solid $green;
          border-radius: 50px;
          padding: 10px 20px 5px 20px;
          margin-right: 10px;
          font-size: 16px;
          width: 220px;
          color: white !important;
        }
        button {
          width: 220px;
          margin-top: 10px;
          background-color: $green;
          border: none;
          font-family: "Tajawal", sans-serif;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 900;
          font-size: 14px;
          padding: 12px 30px 5px 30px;
          border-radius: 50px;
          &:hover {
            background-color: white;
            @include transition(0.5s);
          }
        }
        .msg-alert {
          color: white !important;
          opacity: 1 !important;
          margin: 20px 0px 0px 0px;
          text-align: center;
        }
      }
    }

    .foot-butt {
      order: 2;
      width: 100%;
      .main-button {
        background-color: transparent !important;
        width: fit-content;
        display: table;
        text-align: center;
        margin: 15px auto 10px auto;
        &:hover {
          background-color: $green !important;
          color: $eggplant !important;
        }
      }
    }
  }
}

::placeholder {
  color: white !important;
  font-family: "Tajawal", sans-serif;
}

.save-database {
  background: white;
  color: gray;
  padding: 10px 0;
  border-radius: 5px;
}

.save-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.load {
  padding: 10px;
  background: lightgreen;
  color: black;
  border-radius: 5px;
  margin-right: 20px;
}
.navlogo {
  width: 200px;
}
.bm-menu {
  background-color: $cobalt !important;
  .top-link {
    font-size: 1em;
    p {
      margin: 0px;
    }
  }
}
//
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 768px;
}

.touches-header {
  padding-top: 125px;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero {
  position: relative;
}

a.top-link {
  color: white !important;
  padding: 12px;
  text-transform: lowercase;
  font-weight: bold;
}

//research section
.tag-btn.active {
  h4 {
    border-bottom: 3px solid $cobalt;
  }
}
.tag-control {
  display: flex;
  justify-content: center;
  max-width: 550px;
  width: 100%;
  margin: auto;
  align-items: center;
  padding: 20px;
  @include space-between();
  .tag-btn {
    h4 {
      text-align: center;
      &:hover {
        color: $eggplant !important;
        @include transition(0.5s);
        cursor: default;
      }
    }
  }
}
.post-browser {
  margin: 0px 30px;
}
//team section

.team-member {
  cursor: pointer;
}
header {
  background: white;
  .flex-container {
    @include center(95%);
  }
  .logo {
    img {
      padding: 15px;
    }
  }
  .left {
    display: flex;
    align-items: center;
    width: 50%;
  }
  nav {
    padding-left: 30px;

    a {
      padding-right: 20px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.banner-overlay {
  position: absolute;
  margin:auto;
  z-index: 100;
  top: 120px;
  right: 0px;
  width: 100%;
  padding: 0 30px 0 0;
  max-width: 400px;
  min-width: 350px;
}

.hero-home-video {
  min-height: 500px;
}
.home-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 74vh;
  min-height: 500px;
  .hero-content {
    position: absolute;
    z-index: 20;
    height: 74vh;
    min-height: 500px;
    width: 90%;
    padding: 0 5%;
    .content-container {
      width: 100%;
      .hero-flex {
        position: absolute;
        width: 100%;
        bottom: 90px;
        .slogan {
          width: 100%;
          max-width: 350px;
          margin: auto;
          display: block;
        }
      }
    }
  }
}
.main-button {
  width: fit-content;
  border: 4px solid $green;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-weight: 900;
  border-radius: 50px;
  padding: 13px 20px 5px 20px;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0.3);
  a {
    margin: 0;
  }
  &:hover {
    @include transition(0.5s);
    background-color: $green;
    color: $eggplant;
  }
}
.user-upload {
  background: white;
  padding: 40px;
}

.avatar-upload {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.avatar-preview {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 20px;
  .uploader {
    position: absolute;
    right: 0px;
    top: 6px;
    font-size: 23px;
  }
}

.user-form {
  padding-top: 100px;
  height: 100vh;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
//contact form

.login-container {
  background: #333;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 100px;
  position: relative;
  width: 90%;
}

.active-auth,
.inactive-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-child {
    border-right: 1px solid rgb(211, 211, 211);
  }
}

.inactive-auth {
  cursor: pointer;
  background: whitesmoke;
  transition: 0.4s;
  border-bottom: 1px solid rgb(211, 211, 211);

  h2 {
    color: rgb(211, 211, 211);
  }
}

.form-container.login-form {
  width: 100%;
  .chooser {
    position: absolute;
    width: 100%;
    top: 14px;
    left: 13px;
    h2 {
      font-size: 1.1em;
      color: gray;
      text-align: center;
      padding: 0;
    }
  }
}

p.form-error {
  color: red;
  padding-top: 30px;
}

.checklist {
  margin-top: 50px;
  position: relative;
  .container {
    margin-bottom: 30px;
    background: white;
    @include box-shadow;
  }
  fieldset {
    padding: 20px;
  }
  .banner {
    display: flex;
    padding: 15px;
    align-items: center;
    width: 100%;

    h2 {
      margin: 0;
      padding-left: 20px;
      line-height: 0;
    }
  }
}

.padding-top {
  padding-top: 50px;
}
